<section>
  <div class="page-header page-header-small"
       style="background-image: url('https://images.ctfassets.net/kad98swp6atl/3n1evI7eUj0kDGiETPWxoL/7354670764d3702eb7a853f06c411797/minecraft_landscape.jpg?fm=webp')">
    <div class="content-center">
      <div class="container">
        <h1>Reglas de UCN Craft</h1>
        <h4>Ver: {{rules.fields.version}}</h4>
      </div>
    </div>
  </div>

  <div class="container container-rules">
    <div class="col-md-12">
      <div [innerHTML]="richTextHtml"></div>
    </div>
  </div>
</section>
