<section>
  <div class="page-header page-header-small"
       style="background-image: url('https://images.ctfassets.net/kad98swp6atl/3n1evI7eUj0kDGiETPWxoL/7354670764d3702eb7a853f06c411797/minecraft_landscape.jpg?fm=jpg')">
    <div class="content-center">
      <div class="container">
        <h1>Mapa Dinámico</h1>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="section text-center">
      <div class="container">
        <div class="title" style="text-align: center">
          <h2>DynMap</h2>
          <p>Puedes ver el mapa en tiempo real aquí</p>
        </div>
        <iframe
            class="iframe-map"
            src="https://dynmap.tacocraft.cl/?worldname=lobby&mapname=flat&zoom=1"
        >
        </iframe>
      </div>
    </div>
  </div>
</section>
