<div class="page-header page-header-small"
     style="background-image: url('https://images.ctfassets.net/kad98swp6atl/3n1evI7eUj0kDGiETPWxoL/7354670764d3702eb7a853f06c411797/minecraft_landscape.jpg?fm=jpg')">
  <div class="content-center">
    <div class="container">
      <h1>Tienda</h1>
      <h3>Pago Exitoso</h3>
    </div>
  </div>
</div>

<div class="section">
  <div class="container content-style">
    <h1 class="text-success">¡Tu pago fue procesado con exito!</h1>
    <hr/>
    <div class="card card-pricing card-plain">
      <div class="card-body">
        <h4 class="">Ahora solo debes esperar a que tu cuenta sea actualizada dentro del servidor.</h4>
        <div class="card-icon">
          <i class="nc-icon nc-check-2"></i>
        </div>
        <h4 class="">Si no se aplican los cambios automaticamente envía un mensaje a la administración o un
          correo electronico a <a
              href="mailto:ucncraft@gmail.com">ucncraft@gmail.com</a>.</h4>

        <h4 class="">También puedes escribirnos al discord <a
            href="https://discord.gg/4m9tajt"
            target="_blank"
        >
          https://discord.gg/4m9tajt
        </a>.</h4>
      </div>
    </div>
    <a [routerLink]="['/']">
      <button type="button" class="btn btn-info">Volver al Home</button>
    </a>
  </div>
</div>
