<!--PRINCIPAL PAGE-->
<div class="wrapper">
  <div class="page-header section-dark section-main"
       style="background-image: url('https://images.ctfassets.net/kad98swp6atl/3n1evI7eUj0kDGiETPWxoL/7354670764d3702eb7a853f06c411797/minecraft_landscape.jpg?fm=jpg')">
    <particles [style]="myStyle" [params]="myParams"></particles>
    <div class="content-center text-index">
      <div class="container">
        <h2 class="presentation-subtitle text-center">Bienvenido a UCN Craft</h2>
        <h2 class="presentation-subtitle text-center">El nuevo servidor comunitario de Minecraft</h2>
        <h2 class="presentation-subtitle text-center">Discord: <a
            href="https://discord.gg/4m9tajt"
            target="_blank"
        >
          https://discord.gg/4m9tajt
        </a></h2>
        <h2 class="presentation-subtitle text-center">IP: ucncraft.cl</h2>
        <h2 class="presentation-subtitle text-center">Status del Server:
          <span [style.color]="serverData ? 'green' : 'red'">
            {{serverData ? 'Online' : 'Offline'}}
          </span>
        </h2>
        <button [routerLink]="'/map'" class="btn btn-success btn-round mr-1 button-map" type="button">
          <i class="fa nc-icon nc-pin-3"></i>
          Mapa Dinámico
        </button>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('./assets/img/clouds.png'); "></div>
    <div class="category category-absolute" style="top: 93vh;">
      <svg width="40px" height="100%" viewBox="0 0 247 390" xmlns="http://www.w3.org/2000/svg"
           style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
        <path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#fff;stroke-width:20px;"/>
        <path id="mouse"
              d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z"
              style="fill:none;stroke:#fff;stroke-width:20px;"/>
      </svg>
      <p style="font-weight: bold; color: white;">Desliza hacia abajo</p>
    </div>
  </div>
</div>


<!--ABOUT SERVER-->
<div class="wrapper">
  <div class="section section-container section-dark">
    <div class="title" style="text-align: center; margin-top: 0">
      <h3>¿Que es UCN Craft?</h3>
    </div>
    <div class="col-md-8 ml-auto mr-auto">
      <div class="card card-plain card-blog">
        <div class="row">
          <div class="col-md-7">
            <div class="card-body">
              <p class="card-description">
                Somos un servidor de Minecraft con una comunidad de jugadores universitarios, dedicados a ofrecer la
                mejor
                experiencia con nuestro servidor. Únete a UCN Craft y adentrate en un entorno diferente,
                esperamos siempre que la pases bien dentro de el servidor y tu estadía aquí sea la mejor. Somos NO
                PREMIUM
                y puedes ingresar mediante la version <b>{{serverData?.version || '1.16.1'}}</b>
              </p>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card-image">
              <img alt="card" class="img" src="https://images.ctfassets.net/kad98swp6atl/12UNuDwdqfwioGGlVkAw0K/b7a396b871fa2a9a924faada135e3894/card.webp?w=500&h=280&q=100&fm=jpg"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--SERVER DETAIL-->
<div class="section section-overview section-detail-container"
     style="background-image: url('./assets/img/card-bg.jpg')">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <div class="space-top"></div>
        <h2 class="title">¿Por qué UCN Craft?</h2>
      </div>
      <div class="container">
        <div class="space-top"></div>
        <div class="row">

          <div class="col-sm-4">
            <div class="card card-standard" data-background="color" data-color="purple">
              <div class="card-body text-center">
                <div class="card-icon">
                  <i class="nc-icon nc-controller-modern"></i>
                </div>
                <h4 class="card-title">Entretenimiento</h4>
                <p class="card-description">Modalidades con increíbles características tales como, misiones,
                  encantamientos especiales, cofres del tesoro, minijuegos y mucho más por descubrir, además
                  de poder jugar con una variada comunidad universitaria y pasarla bien aventurándose en todo el
                  servidor.</p>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card card-standard" data-background="color" data-color="blue">
              <div class="card-body text-center">
                <div class="card-icon">
                  <i class="nc-icon nc-alert-circle-i"></i>
                </div>
                <h4 class="card-title">Eventos</h4>
                <p class="card-description">Solemos hacer eventos y sorteos eventualmente en celebración a algún logro u
                  ocasión especial, algunas de las cosas que puedes conseguir pueden ser, dinero, objetos e incluso
                  rangos exclusivos.</p>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card card-standard" data-background="color" data-color="brown">
              <div class="card-body text-center">
                <div class="card-icon">
                  <i class="nc-icon nc-settings-gear-65"></i>
                </div>
                <h4 class="card-title">Soporte amigable</h4>
                <p class="card-description">Soporte activo y eficaz junto con un equipo administrativo sociable,
                  divertido y comprometido a ayudar.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--VIDEO-->
<div class="wrapper">
  <div class="section section-dark text-center landing-section">
    <div class="col-md-8 ml-auto mr-auto">
      <div class="card card-plain card-blog">
        <div class="row">
          <div class="col-md-5 ml-auto">
            <div class="card card-plain">
              <div class="card-body">
                <h6 class="card-category">¡Mira uno de nuestros últimos videos!</h6>
                <a href="javascript:void(0)">
                  <h3 class="card-title">Torneo de combates</h3>
                </a>
                <p class="card-description">Cada sabado nos enfocamos en realizar torneos con un previo registro de los
                  usuarios, estos usuarios ganan objetos y diversos titulos para que la diversión nunca se acabe.</p>
              </div>
            </div>
          </div>

          <div class="col-md-5 mr-auto">
            <iframe class="video" src="https://www.youtube.com/embed/arzSzKrbyMM"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--CAROUSEL-->
<div class="wrapper">
  <div class="section">
    <div class="title" style="text-align: center">
      <h2>Server</h2>
    </div>
    <div class="col-md-8 ml-auto mr-auto">
      <div class="card card-raised page-carousel">
        <ngb-carousel>
          <ng-template *ngFor="let data of carouselImageServer" ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="data.fields.image.fields.file.url + '?fm=jpg&h=449&w=1238&q=100'" [alt]="data.fields.image.fields.title">
            </div>
            <div class="carousel-caption">
              <h3>{{data.fields.title}}</h3>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>


<!--COMMUNITY-->
<div class="wrapper">
  <div class="section section-gray">
    <div class="title" style="text-align: center">
      <h2>Proyectos de la comunidad</h2>
    </div>
    <div class="col-md-8 ml-auto mr-auto section-community">
      <div class="card card-raised page-carousel">
        <ngb-carousel>
          <ng-template *ngFor="let data of carouselImageUsers" ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="data.fields.image.fields.file.url + '?fm=jpg&h=697&w=1239&q=100'" [alt]="data.fields.image.fields.title">
            </div>
            <div class="carousel-caption">
              <h3>{{data.fields.title}}</h3>
              <p>{{data.fields.creators}}</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>

<!--TEAM-->
<div class="wrapper">
  <div class="section section-dark text-center landing-section">
    <div class="container">
      <h2 class="title">Equipo</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img class="round-image" src="https://images.ctfassets.net/kad98swp6atl/5zCI90ZRn2OCuPf6I3qzG5/0109aca44e0b2af353fd5632fff30dce/team1.webp?fm=jpg&w=120&h=120&q=100" alt="...">
            </div>
            <div class="card-body">
              <div class="author">
                <h4 class="card-title">blacksinx</h4>
                <h6 class="card-category text-muted">Owner</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img class="round-image" src="https://images.ctfassets.net/kad98swp6atl/Wis470dwxzIJvQrvALivV/afccf56add540e730b8281a0d2642fc5/2020-07-18_20.45.18.png?fm=jpg&w=120&h=120&q=100" alt="...">
            </div>
            <div class="card-body">
              <div class="author">
                <h4 class="card-title">Kwwa</h4>
                <h6 class="card-category text-muted">Admin</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img class="round-image" src="https://images.ctfassets.net/kad98swp6atl/s9cU6oeqtms3g9ed4CREM/5fe095be6c5f7521e2e619e6223a35bc/team3.webp?fm=jpg&w=120&h=120&q=100" alt="...">
            </div>
            <div class="card-body">
              <div class="author">
                <h4 class="card-title">xSopra</h4>
                <h6 class="card-category text-muted">Admin</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img class="round-image" src="https://images.ctfassets.net/kad98swp6atl/66iQmKVdJ6YxGvwkGUqjYv/e3b0dc2edfdfba8f851483963e62a899/team4.webp?fm=jpg&w=120&h=120&q=100" alt="...">
            </div>
            <div class="card-body">
              <div class="author">
                <h4 class="card-title">El_Santa</h4>
                <h6 class="card-category text-muted">Community Manager</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img class="round-image" src="https://images.ctfassets.net/kad98swp6atl/1Z64Mbk4tDSWJK6GmEmOwZ/cb1783b2eef67a8f3d4d808c0f18cab3/team5.webp?fm=jpg&w=120&h=120&q=100" alt="...">
            </div>
            <div class="card-body">
              <div class="author">
                <h4 class="card-title">Deathless</h4>
                <h6 class="card-category text-muted">Admin</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer footer-big">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 ml-auto mr-auto">
        <div class="links">
          <ul class="uppercase-links">
            <li>
              <a href="https://www.facebook.com/groups/784289015072897" target="_blank">
                Facebook <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/ucn_shitposting/?hl=es-la" target="_blank">
                Instagram <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                Foro
              </a>
            </li>
          </ul>
          <hr/>

          <div class="copyright">
            © {{date | date: 'yyyy'}}, creado con el <i class="fa fa-heart heart"></i> by <a
              href="https://github.com/Alpha018" target="_blank">Alpha018</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
