<nav class="navbar navbar-expand-lg fixed-top nav-down" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/presentation']">Taco Craft</a>
      </div>
      <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler"
              aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
              (click)="sidebarToggle()">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link">Users Online: {{serverData?.players || 0}}</a>
        </li>
        <li class="nav-item">
          <a (click)="goShop()" class="nav-link button-hover">Tienda</a>
        </li>
        <li class="nav-item">
          <a (click)="goVote()" class="nav-link button-hover">Votaciones</a>
        </li>
        <li class="nav-item">
          <a (click)="goRules()" class="nav-link button-hover">Reglas</a>
        </li>
        <li class="nav-item">
          <a (click)="goNews()" class="nav-link button-hover">Noticias</a>
        </li>
        <li class="nav-item">
          <a (click)="goAchievements()" class="nav-link button-hover">Logros</a>
        </li>
        <div ngbDropdown class="nav-item dropdown">
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
            <a ngbDropdownItem [routerLink]="['/presentation']"><i class="nc-icon nc-settings"></i>Home</a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
