<section>
  <div class="page-header page-header-small"
       style="background-image: url('https://images.ctfassets.net/kad98swp6atl/3n1evI7eUj0kDGiETPWxoL/7354670764d3702eb7a853f06c411797/minecraft_landscape.jpg?fm=jpg')">
    <div class="content-center">
      <div class="container">
        <h1>Tienda</h1>
      </div>
    </div>
  </div>

  <div class="section section-dark">
    <div class="pricing-2" style="padding-top: 0">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <h2 class="title">Tienda Taco Craft</h2>
            <h5 class="description">Si quieres apoyar al servidor con sus costos de mantención puedes apoyar con los
              siguientes planes.</h5>
            <br>
          </div>
        </div>
        <div class="space-top"></div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-pricing card-plain">
              <div class="card-body">
                <h6 class="card-category text-success">Donador</h6>
                <h1 class="card-title">$4.000</h1>
                <ul class="text-white">
                  <li><i class="fa fa-check" aria-hidden="true"></i> Soporte Preferencial</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Claims adicionales</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Cambio de color en Textos</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i> Mundo VIP</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i> Comando Fly</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i> Comando Nick</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i> Comando Craft</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i> Items Raros</li>
                </ul>
                <button (click)="changePlanState('DONATOR')"
                        class="btn btn-outline-neutral btn-round">Ver Plan
                </button>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-pricing">
              <div class="card-body">
                <h6 class="card-category text-success">VIP</h6>
                <h5 class="card-category">Recomendado</h5>
                <h1 class="card-title">$7.000</h1>
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Soporte Preferencial</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Claims adicionales</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Cambio de color en Textos</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Mundo VIP</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Comando Fly</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Comando Nick</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Comando Craft</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i> Items Raros</li>
                </ul>
                <button (click)="changePlanState('VIP')"
                        class="btn btn-outline-success btn-round">Ver Plan
                </button>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-pricing card-plain">
              <div class="card-body">
                <h6 class="card-category text-success">Super VIP</h6>
                <h1 class="card-title">$10.000</h1>
                <ul class="text-white">
                  <li><i class="fa fa-check" aria-hidden="true"></i> Soporte Preferencial</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Claims adicionales</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Cambio de color en Textos</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Mundo VIP</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Comando Fly</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Comando Nick</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Comando Craft</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Items Raros</li>
                </ul>
                <button (click)="changePlanState('SVIP')"
                        class="btn btn-outline-neutral btn-round">Ver Plan
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
