<section>
  <div class="page-header page-header-small"
       style="background-image: url('https://images.ctfassets.net/kad98swp6atl/3n1evI7eUj0kDGiETPWxoL/7354670764d3702eb7a853f06c411797/minecraft_landscape.jpg?fm=jpg')">
    <div class="content-center">
      <div class="container">
        <h1>Logros de los usuarios</h1>
      </div>
    </div>
  </div>
</section>

<div class="wrapper">
  <div class="section text-center">
    <div class="container">
      <div class="title" style="text-align: center">
        <h2>Torre Parkour</h2>
        <p>Ganadores del desafío</p>
      </div>
      <div class="row">
        <ng-container *ngFor="let data of achievements">
          <div class="col-md-4" *ngIf="data.fields.achievements === 'parkour'">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img class="round-image"
                     [src]="data.fields.userImage.fields.file.url + '?fm=jpg&w=120&h=120&q=100'"
                     [alt]="data.fields.userImage.fields.title">
              </div>
              <div class="card-body">
                <div class="author">
                  <h4 class="card-title">{{data.fields.userName}}</h4>
                  <p class="card-title">{{data.fields.date | date: 'dd-MM-yyyy hh:mm'}}</p>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="title" style="text-align: center">
        <h2>Laberinto</h2>
        <p>Ganadores del desafío</p>
      </div>
      <div class="row">
        <ng-container *ngFor="let data of achievements">
          <div class="col-md-4" *ngIf="data.fields.achievements === 'laberinto'">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img class="round-image"
                     [src]="data.fields.userImage.fields.file.url + '?fm=jpg&w=120&h=120&q=100'"
                     [alt]="data.fields.userImage.fields.title">
              </div>
              <div class="card-body">
                <div class="author">
                  <h4 class="card-title">{{data.fields.userName}}</h4>
                  <p class="card-title">{{data.fields.date | date: 'dd-MM-yyyy hh:mm'}}</p>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

    </div>
  </div>
</div>
