<footer class="footer footer-big">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 ml-auto mr-auto">
        <div class="links">
          <ul class="uppercase-links">
            <li>
              <a href="https://www.facebook.com/groups/784289015072897" target="_blank">
                Facebook <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/ucn_shitposting/?hl=es-la" target="_blank">
                Instagram <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                Foro
              </a>
            </li>
          </ul>
          <hr/>

          <div class="copyright">
            © {{date | date: 'yyyy'}}, creado con el <i class="fa fa-heart heart"></i> by <a
              href="https://github.com/Alpha018" target="_blank">Alpha018</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
