<div class="page-header page-header-small"
     style="background-image: url('https://images.ctfassets.net/kad98swp6atl/3n1evI7eUj0kDGiETPWxoL/7354670764d3702eb7a853f06c411797/minecraft_landscape.jpg?fm=jpg')">
  <div class="content-center">
    <div class="container">
      <h1>Tienda</h1>
      <h3>Pago Fallido</h3>
    </div>
  </div>
</div>

<div class="section">
  <div class="container content-style">
    <h1 class="text-danger">Por favor intenta nuevamente</h1>
    <hr/>
    <div class="card card-pricing card-plain">
      <div class="card-body">
        <div class="card-icon">
          <i class="nc-icon nc-simple-remove"></i>
        </div>
        <h3>¡Ups!</h3>
        <h4>Al parecer hubo un problema con el envío de tu compra</h4>
        <h4 class="">Si tienes dudas envía un mensaje a la administración o un correo electronico a
          <a
              href="mailto:ucncraft@gmail.com"> soportetacocraft@gmail.com
          </a>.
        </h4>

        <h4 class="">También puedes escribirnos al discord <a
            href="https://discord.gg/4m9tajt"
            target="_blank"
        >
          https://discord.gg/4m9tajt
        </a>.</h4>
      </div>
    </div>
    <a [routerLink]="['/']">
      <button type="button" class="btn btn-info">Volver al Home</button>
    </a>
  </div>
</div>
